<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How can we help?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">usb</i>
                    <h3>Training</h3>
                    <p class="text-muted">We have experience in providing Academic (Students and Faculty), Corporate trainings for various technologies ranging from Mobile development (iOS), Machine Learning, BioInformatics, Systems Biology, Computational Biology etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Consulting</h3>
                    <p class="text-muted">We have experience in working with various organizations to achieve their strategic and business objectives. We have helped organizations to bridge the gap between business and technology by providing custom IT solutions based on their requirements.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>R&amp;D Consulting</h3>
                    <p class="text-muted">We have a team of research scientists who have a wide spectrum of experience ranging from embedded systems, NLP, Machine Learning and Computational Systems Biology. We have been associated with Interdisciplinary Research Centers of Various Academic Institutions and have provided consulting services to achieve the research objectives of the research scholars.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Career Guidence and Counselling</h3>
                    <p class="text-muted">We have team of certified professionals with over 20+ year experience who have counselled umpteen number of students from adolescents to young adults who provide career guidence and offer counselling services.</p>
                </div>
            </div>
        </div>
    </div>
</section>
