<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/vijay.jpg" style="width:100px;height:100px;"">
                    <h3>Vijay Kulkarni , Founder</h3>
                    <p class="text-muted">Mr Vijay Kulkarni , currently works at Thermofisher Scientific on Computational Proteomics and is involved in developing Machine Learning Algorithms on Mass Spectrometry and Peptide Matching.   Prior to this , he was working at Jaitra Inc on Architecting and Developing Data Centric Applications for Enterprises using various stacks that include ML , NLP , AWS etc. He has also  worked at Seachange and Cisco where he has predominantly worked on Digital Video Broadcasting . He is associated with FSMK and handles  sessions on FOSS and other technologies. His interests include Machine Learning and Linear Algebra and Computational Systems Biology. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/anusha.jpg" width="100" height:"100">
                    <h3>Anusha Kulkarni, Head, Life Science Division</h3>
                    <p class="text-muted">Mrs Anusha Kulkarni, is active in research since 2011. Her research interests and active areas include Ethno-botanical study, Drug development, Tribal Medicine Research, Qualitative &amp; Quantitative analysis of Bioactive compounds, Biochemistry, Microbiology, Immunology, Clinical Examinations of Bioactive compounds, Chromatographic Techniques, Genomics, Proteomics &amp; Mass Spectrometry (MS), Bioinformatics, in vitro and in vivo cancer studies, Clinical research &amp; Clinical Data Management. She is associated with various Private &amp; Government Agencies in exploring her research interests.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/yogish.jpg" width="100" height:"100">
                    <h3>Yogish , VP, Product Development</h3>
                    <p class="text-muted">Mr.Yogish is a highly accomplished developer and very passionate about developing mobile apps based
                        on iOS. He has a very strong iOS development experience and has developed number of apps which are both horizontally and vertically scalable.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/vaidehi.jpg" width="100" height:"100">
                    <h3>Vaidehi Deshpande, Product Head</h3>
                    <p class="text-muted">Vaidehi is a very passionate engineer who is quite passionate about handling geographically distributed teams and streamline the product management activities</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/gayathri.jpg" width="100" height:"100">
                    <h3>Mrs.Gayathri Kulkarni, Certified Life Coach</h3>
                    <p class="text-muted">Mrs. Gayathri Kulkarni is a very accomplieshed educator. She has a very stong experience in various strata of acedemics from being a teacher to principal. She is passionate about bringing reforms in teching methodologies and is a certied professional in creative teaching and is a life coach.</p>
                </div>
            </div>
        </div>
    </div>
</section>
